<!DOCTYPE html>
<h1>Hello World!</h1>
<body>
    <div class="Container"> 
    <ul id="box1">
        <h1> Todo list </h1>
    <h2> November 12, 2017 </h2>
  <li> 
  <input type="checkbox">
  
   <a href="show/1"> English- Oral Argument defense thesis.</a>
  <span class="timer-estimate"> 3 hours </span>
  </li>
  <li>
      <input type="checkbox"> 
  <a href="show/2">Spanish 3- Write a paper, in spanish, about a disaster.</a>
  <span class="timer-estimate"> 2 hours </span> 
</span>
  </li>
  
  <li> 
  <input type="checkbox">
  
  <a href="show/3">History- Read the packet.</a>
  <span class="timer-estimate"> 1.5 hours </span>
  </li>
</ul>
<div id="box2"><iframe src="https://calendar.google.com/calendar/embed?src=ousd.k12.ca.us_1t26t6fikmh2tau5pc2s04naf0%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="600" height="500" frameborder="0" scrolling="no"></iframe></div>

</div>
</body> 
<u>
    
</u>
<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate">
  <input class="button" id="add-new-todo-button" type="submit" value="Submit Button">
</div> 
